@model ClientModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
@using (Html.BeginForm("edit", "Database", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" value="@Model.Client.ID" name="ClientID"/>
        <div>
            <div>
                <label>Имя Клиента</label>
                <input class="form-control" type="text" name="Name" id="Name" value="@Model.Client.Name"/>
            </div>

            <label>Юр Лицо</label>
            <select name="LegalID2" class="form-control">
                <option disabled="disabled" selected="selected" value="">@Model.Client.LegalEntitie.Name</option>
                @foreach (var item in @Model.LegalEntitiesList)
                {
                    <option value="@item.LegalEntitiesID">@item.Name</option>
                }

            </select>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Сохранить" class="btn btn-default"/>
            <button name="action" value="Back" class="btn btn-default">Назад</button>
        </div>
    </div>
}