@model ClientModel
@{
    ViewBag.Title = "Редактирование пользователя";
}

@using (Html.BeginForm("edit", "Database", FormMethod.Post))
{
    <input type="hidden" value="@Model.Client.ID" name="ClientID"/>
    <div class="form-group">
        <div>
            <div>
                <label>Имя Клиента</label>
                <input class="form-control" type="text" name="Name" required="required" id="Name" value="@Model.Client.Name"/>
            </div>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button style="color: #212529;" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Юр Лицо(-а)</button>
                    <button style="color: #212529;" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Адрес(-а)</button>
                    <button style="color: #212529;" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <select name="LegalID2" class="form-control" title="text">
                        @try
                        {
                            <option value="@Model.Client.LegalEntitie" selected="selected">@Model.Client.LegalEntitie</option>
                            @Model.LegalEntitiesList.Remove(Model.Client.LegalEntitie)
                            @foreach (var item in @Model.LegalEntitiesList)
                            {
                                <option value="@item.LegalEntitiesID">@item.Name</option>
                            }
                        }
                        catch
                        {
                            // ignored
                        }
                    </select>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <input id="search" class="input-group" type="text" onkeyup='searchTable()' placeholder="Type to search">
                    <table id="addresstable" class="table" >
                        <tbody>
                        @foreach (var item in @Model.Client.Offices)
                        {
                            <tr>
                                <td>
                                    <input hidden="hidden" value="@item.OfficeID"/>
                                    @item.Adress
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddAdresModal">
                        Добавить адрес
                    </button>
                </div>

                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            </div>
            <button type="button" class="btn btn-primary" onclick="Toasty()">Show live toast</button>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Сохранить" class="btn btn-default "/>
            <button name="action" value="Back" class="btn btn-default">Назад</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeleteModal">Удалить пользователя</button>
        </div>
    </div>
}
<!-- Тоаст сообщение -->
<div class="toast" id="SaveToast" role="alert" aria-live="assertive" aria-atomic="true"
     style="position: absolute ; bottom: 100px; right: 20px; ">
    <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small class="text-muted">Недавно</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>

<div class="modal fade" id="DeleteAddressModal" tabindex="0" aria-labelledby="DeleteAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удалить Адрес</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            @using (Html.BeginForm("AddAdres", "Database", FormMethod.Post))
            {
                <input type="hidden" value="@Model.Client.ID" id="ClientID"/>
                <div class="modal-body">

                    <div>
                        <label>Введите Адрес</label>
                        <input type="text" name="adres" id="adres"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="AddAdresModal" class="modal fade"  tabindex="0" aria-labelledby="AddAdresModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить Адрес</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <input type="hidden" value="@Model.Client.ID" name="ClientID"/>
            <div class="modal-body">

                <div>
                    <label>Введите Адрес</label>
                    <input id="address" class="form-control" type="text" name="adres" required="required" value=""/>
                </div>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" onclick="SubForm()" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<form asp-controller="Database" asp-action="Delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="0" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <input type="hidden" value="@Model.Client.ID" name="ClientID"/>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтверждение удаления пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div>
                    <div class="modal-body">
                        <dt>Имя</dt>
                        <dd>
                            Вы уверены что хотите удалить @(Html.DisplayFor(model => model.Client.Name)) ?
                        </dd>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Удалить</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<script>
        var option =
        {
            animation: true,
            delay: 3000   
        }
        function Toasty()
        {
            var ToastHTMLElement = document.getElementById("SaveToast");    
            
            var toastElement = new bootstrap.Toast(ToastHTMLElement, option);
            
            toastElement.show();    
        
        }
</script>
<script>
        var rows = document.getElementById("addresstable").getElementsByTagName('tr');
        for (i = 0; i < rows.length; i++) {
            rows[i].addEventListener('click', function(){
                alert();
            })
        }
</script>
<script>
function SubForm (){
    var Address = document.getElementById('address').value;
    $.ajax({
        url: '/Database/AddAdres',
        type: 'post',
        data: {adres: Address, ClientID: '@Model.Client.ID'},
        success: function(){
            var Address = document.getElementById('address').value;
                var tableRef = document.getElementById("addresstable").getElementsByTagName('tbody')[0];
                var myHtmlContent = "<td><input hidden value='' />" + Address + "</td>";
                
                var newRow = tableRef.insertRow(tableRef.rows.length);
                newRow.innerHTML = myHtmlContent;
        }
    });
}
</script>
<script src="~/js/searchTable.js"></script>
<style>
.table {
	border: 1px solid #dddddd;
	border-top: 0 #dddddd;
	width: 100%;
}
.table th {
	border: 1px solid #dddddd;
	border-top: 0 #dddddd;
	font-weight: bold;
	padding: 10px;
	background: #efefef;
	text-align: center;
	vertical-align: middle;
}
.table td {
	border: 1px solid #dddddd;
	text-align: center;
	vertical-align: middle;
}
.table tr:hover td{
background-color:gray;
cursor:pointer;
}

/* Нечетные строки */
.table tbody tr:nth-child(2n+1){
	background: #fff;
}

/* Четные строки */
.table tbody tr:nth-child(2n){
	background: #F7F7F7;
}
.otsup{position: relative;margin-bottom: 5px; bottom: -10px}
</style>